Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Mail
python-dotenv
psycopg2-binary
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker
pandas
numpy
scikit-learn
prophet
matplotlib
openpyxl
pytest
